.explore-page {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .explore-page h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #990011;
  }
  
  .apps-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .app-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .app-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .app-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .app-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .explore-link {
    text-decoration: none;
    color: #ff6347;
    font-weight: bold;
  }
  
  .explore-link:hover {
    text-decoration: underline;
  }
  