/* Footer Styles */
.footer {
    background-color: #FCF6F5;
    color: #990011;
    padding: 1rem;
    text-align: center;
    margin-top: auto; /* Ensures footer is at the bottom of the page */
  }
  
  .footer p {
    margin: 0;
  }
  
  /* Make it responsive */
  @media (max-width: 768px) {
    .footer {
      padding: 0.8rem; /* Adjust padding for smaller screens */
    }
  
    .footer p {
      font-size: 14px; /* Smaller text size on smaller screens */
    }
  }
  